/* Margen de la pagina */
*{
    margin: 0px;
}

html {  overflow-x:hidden; }

body,html{
    height: 100%;
}

/* Fondo y letra body */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*font-size: 18px;*/
    background-color: #F3F3F3;
    color: #303841;
}

/* Barra de navegación */
.barra{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: #2185D5;
    align-items: center;
}

/* Logo */
.logo img{
    width: 120px;
    height: 120px;
    margin: 1%;
}

/* Botones de la barra de navegación */
.botones{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    margin-right: 23%;
}

.botones a{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;
}

.botones a:hover{
    color: #303841;
}

/* Iconos de la barra de navegación */
i{
    font-size: 1.5em;
}

.IR{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.IR a{
    text-decoration: none;
    color: #EEEEEE;
}

.IR a:hover{
    color: #BF94FF;
}

.boton i{
    padding: 20px;
}

/* Cuerpo */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Carril de imagenes */

.slider{
    width: 720px;
    height: 600px;
    overflow: hidden;
    margin: 50px 0 0 0;
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;

}

.slider img{
    width: 720px;
    height: 600px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -105.5%;}
    45%{margin-left: -105.5%;}

    50%{margin-left: -205.5%;}
    70%{margin-left: -205.5%;}

    75%{margin-left: -306%;}
    100%{margin-left: -306%;}
}

/* Quienes somos */

.grup_qs{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.qs{
    
    width: 100%;
    height: auto;
    margin-top: 50px;
    background: #2185D5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #F3F3F3;
    padding: 20px;
    font-size: 25px;
  }

.qs2{
    
    width: 698px;
    height: auto;
    margin: 10px;
    background: #2185D5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #F3F3F3;
    padding: 20px;
    font-size: 25px;
  }

h2{
    text-align: center;
  }

.qs p{
    text-align: justify;
    margin: 50px;
  }

/* Tabla de servicios */
.serv{
    padding: 0 0 20px 0;
    font-size: 2.5rem;
}

.container{
    margin: 0 auto;
    width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    background: #F3F3F3;
    color: #303841;
    border: 5px solid #2185D5;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    width: 18%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 430px;
}
.precio{
    font-size: 50px;
    color: #2185D5 ;
}
.btn-precio{
    background: #2185D5;
    display: block;
    padding: 10px;
    color: #EEEEEE;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}
.btn-precio:hover{
    background: #1963B3 ;
}

/* boton de cita */

.boton-cita{
    background: #2185D5;
    display: block;
    padding: 20px;
    color: #F3F3F3;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 20px;
}

.boton-cita:hover{
    background: #1963B3;
    color: #F3F3F3;
}

/* footer */
footer{
    height: 150px;
    background: #2185D5;
    display: flex;
    color: #F3F3F3;
}

footer a{
    text-decoration: none;
    color: #F3F3F3;
}

footer a:hover{
    color: #303841;
}

.ft-margen{
    display: flex;
    margin: 20px;
}

.acerca{
    margin-right: 130px;
}

/* formulario */

.form{
    background-color: #F3F3F3;
    margin: 40px 0 40px 0;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -2px rgb(33, 133, 213);
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    --color: #5757577e;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form_list{
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    color: #303841;
}

.form_input:not(:placeholder-shown){
    color: #303841;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    font-size: 13px;
    color: #2185D5;
}


.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(15px);
    transition: transform .5s, color .3s;
}

.form_submit{
    background: #2185D5;
    color: #F3F3F3;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_submit:hover{
    background: #1963B3;

}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2185D5;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label{
    transform: scale(1);
}

/* Login */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #F3F3F3;
    border-radius: 10px;
    box-shadow: 0 5px 10px -1px rgb(33, 133, 213);
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  .forms .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2185D5;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
    color: #2691d9;
  }
  .inp_boton{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2185D5;
    border-radius: 25px;
    font-size: 18px;
    color: #F3F3F3;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  .inp_boton:hover{
    background: #1963B3;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  
/* Responsive */

@media (max-width: 1260px){
    .boton span{
        display: none;
    }
    .columna{
        width: 47%;
    }
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin: 20px;
    }
}
@media (max-width: 600px){
    .columna{
        width: 100%;
        margin: 20px;
    }
}
